@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poppins:wght@400;700&family=Raleway&family=Roboto&display=swap');
.carousel-img-css{
/* //a */
height:700px;
}
.carousel {
    width:auto;
    height:700px;
    margin: auto;
  position: relative;
  }
  .carousel-caption{
      top:40%;
    }
    .carousel-title{
      font-family: 'Raleway', sans-serif;
      font-size: 70px;
      font-weight: 900;
      text-align: center;
      color:#ffffff;
      /* display: flex; */
      justify-content: center;
    }
    .carousel-desc{
        color:#ffffffd7;
        font-weight: 500;
    }

  .carousel-caption .desc1 {
    animation: slideInBottom 1.8s forwards;
  }
  
  @keyframes slideInBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .carousel-caption .title2 {
    animation: appear 2.2s forwards;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .carousel-caption .title2 {
    animation: slideIn 2.9s forwards;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  





  .title1{
    margin-right: 1rem;
  }
  .title2{
    color: #1e6ae1;
  }

  .desc1{
    font-weight: bolder;
    color: #ffffff;
  }
  .carousel-text{
  text-shadow: 2px 2px 30px #201f1f;
}


  .caption-animate .item.active .carousel-caption {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

.fadeIn{
  transition: opacity 5s;  
  opacity: 1; 
}
.carousel-indicators .active{
  background-color: #1e69e1ea;
}


  @media only screen and (max-width: 575px) {
    .carousel-img-css{
      /* //a */
      height:30%;
      }
      .carousel {
          width:auto;
          height:10%;
          margin: auto;
        }
        .carousel-caption{
            top:20%;
            margin: 0 30px;
          }
          .carousel-title{
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            font-weight: 900;
            text-align: center;
            
          }
          .carousel-desc{
              color:#ffffffd7;
              font-weight: 300;
          }
          .carousel-caption h2 {
            font-size: 19px;
        }
        .title1{
          margin-right: 0.4rem;
        }
        .carousel-text{
          text-shadow: 2px 2px 50px #0e0e0e;
        }
        
    
}

@media only screen and (max-width: 767px) and (min-width: 501px) {
  .carousel-img-css{
    /* //a */
    height:10%;
    }
    .carousel {
        width:auto;
        height:10%;
        margin: auto;
      }
      .carousel-caption{
          top:28%;
        }
        .carousel-title{
          font-family: 'Raleway', sans-serif;
          font-size: 25px;
          font-weight: 900;
          text-align: center;
          color:#00ffbf;
          
        }
        .carousel-desc{
            color:#ffffffd7;
            font-weight: 300;
        }
        .carousel-caption h2 {
          font-size: 19px;
      }
}