/*footer*/
.col_white_amrc {
	color: #FFF;
}

footer {
	width: 100%;
	background-color: #263238;
	min-height: 250px;
	padding: 10px 300px 25px 300px;
}

.pt2 {
	padding-top: 40px;
	margin-bottom: 20px;
}

footer p {
	font-size: 13px;
	color: #CCC;
	padding-bottom: 0px;
	margin-bottom: 8px;
}

.mb10 {
	padding-bottom: 15px;
}

.footer_ul_amrc {
	margin: 0px;
	list-style-type: none;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
	padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
	color: #CCC;
}

.footer_ul_amrc li a:hover {
	color: #fff;
	text-decoration: none;
}

.fleft {
	float: left;
}

.padding-right {
	padding-right: 10px;
}

.footer_ul2_amrc {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

.footer_ul2_amrc li p {
	display: table;
}

.footer_ul2_amrc li a:hover {
	text-decoration: none;
}

.footer_ul2_amrc li i {
	margin-top: 5px;
}

.start-up {
	background: -webkit-linear-gradient(#ff8000, #008000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bottom_border {
	border-bottom: 1px solid #323f45;
	padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
	list-style-type: none;
	padding: 0px;
	display: table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li {
	display: inline;
}

.foote_bottom_ul_amrc li a {
	color: #999;
	margin: 0 12px;
}

.social_footer_ul {
	display: table;
	margin: 15px auto 0 auto;
	list-style-type: none;
}

.social_footer_ul li {
	padding-left: 20px;
	padding-top: 10px;
	float: left;
}

.social_footer_ul li a {
	color: #CCC;
	border: 1px solid #CCC;
	padding: 8px;
	border-radius: 50%;
}

.social_footer_ul li i {
	width: 20px;
	height: 20px;
	text-align: center;
}

.footerLinks>a {
	color: #c8e6c9;
	text-decoration: none;
}

.footerLinks>a:hover {
	color: #66bb6a;
	text-decoration: none;
}
.footer-text{
    padding: 10px 0;
}
.footer-links{
	display: flex;

    text-align: center;
    padding: 10px;
}
p.mb2.footerLinks {
    display: flex;
}
@media only screen and (max-width: 767px) and (min-width: 501px) {
	.footer{
		padding: 10px 120px 25px 120px;
	}
	.social_footer_ul li {
		padding-left: 20px;
		padding-top: 10px;
		float: left;
	}
}

@media only screen and (max-width: 500px) {
	.footer{
		padding: 10px 3px 10px 3px;
	}
	p.mb2.footerLinks {
		display: inline;
		/* display: flex; */
		/* justify-content: center;
		align-items: center; */
		/* flex-direction: column; */
	}
	.headin5_amrc{
		background-color: #00000006;
		padding: 5px 0px;
		margin-bottom: 6px;
	}
	/* removing padding */
	.nav-link {
	
	padding: 0px;}
	.bottom_border{
			padding-bottom: 0px;
	}
	
	.footerLinks{
		/* text-align: center; */
		font-weight: 500;
		font-size: 13px;
		color: #c8e6c9;
		display: flex;
	}
	.dash{
		display: none;
	}
	.social_footer_parent{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.social_footer_ul {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0px;
		list-style-type: none;
		padding: 0px;
	}
	.social_footer_ul li {
		padding: 10px 10px;
		padding-top: 10px;
		float: left;
	}
	.footer_ul_amrc li{
		margin: 0px 1px !important; 
	}

	.footersubs{
		display: flex;
	}
}
