.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; 
  padding:  0px 240px;
  transition: 0.25s ease-in;

}

/* 🔴 /// */

/* //🔴  */
/* Define the shape and color of the hamburger lines */
.navbar-toggler{
  color: #1ee19600;
  border: none;
}
.navbar-toggler span {
  display: block;
  background-color: #f4f4f4;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}


/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

/**
* Animate collapse into X.
*/

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg) ;
}


/**
* Animate collapse open into hamburger menu
*/

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg) ;
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg) ;
}



/* //🔴  */







.container{
  justify-content: space-evenly;
/* top: 0;
height: 100vh;  */
}
.logo{
width: 65px;
transition: 0.35s ease-in;
margin: 9px 12px;
}

.logo2{
width: 50px;
transition: 0.35s ease-in;

}
.navbar-css{
background-color: #221d1d88 !important;
line-height: 42px;
}
.navbar-css2{
  background-color: #1ee196 !important;
  line-height: 42px;

}


.me-auto{
  display: flex;
  justify-content: end;
  width: 100%;
  float: right;
}
.nav-link{
  color: #ffffff ;
  padding: 0px 10px;
  margin: 0px 7px;
  font-weight: 500px;
	
}
.nav-link:hover{
  color: #78e5a0 ;
}
@media only screen and (max-width: 575px) {
  .navbar{
    padding:  0px 0px;
  }

}
@media only screen and (max-width: 767px) and (min-width: 501px) {
  .navbar{
    padding:  0px 0px;
  }
  .jumbo{
      padding:0.2rem 0.1rem ;
  background-color: #eceff1;
  }
  .jumbo-title{
      text-align: center;
      text-transform: capitalize;
      letter-spacing:3.4px;
  }
  .logo2 {
    width: 50px !important;    
    }
    .logo{
      width: 50px;      
      }
    
}
